/day1/target
/day1/Cargo.lock

/day2/practice/target
/day2/practice/Cargo.lock
/day2/quadrant-distance/target
/day2/quadrant-distance/Cargo.lock

/day3/practice/target
/day3/practice/Cargo.lock
/day3/student-management/target
/day3/student-management/Cargo.lock

/day4/practice/target
/day4/practice/Cargo.lock

/day5/practice/target
/day5/practice/Cargo.lock

/day6/practice/target
/day6/practice/Cargo.lock
/day6/modules-prac/target
/day6/modules-prac/Cargo.lock

/day7/practice/target
/day7/practice/Cargo.lock

/day8/practice/target
/day8/practice/Cargo.lock
/day8/password_gen/target
/day8/password_gen/Cargo.lock

/day9/practice/target
/day9/practice/Cargo.lock
/day9/simple-calcu/target
/day9/simple-calcu/Cargo.lock

/day10/practice/target
/day10/practice/Cargo.lock

/day11/practice/target
/day11/practice/Cargo.lock

/day12/target
/day12/Cargo.lock

/day13/target
/day13/Cargo.lock

/day14/target
/day14/Cargo.lock

/day15/target
/day15/Cargo.lock

/day16/target
/day16/Cargo.lock

/day17/target
/day17/Cargo.lock

/day18/target
/day18/Cargo.lock

/day19/target
/day19/Cargo.lock

/day20/target
/day20/Cargo.lock

/day21/target
/day21/Cargo.lock

/day22/target
/day22/Cargo.lock

/day23/target
/day23/Cargo.lock

/day24/target
/day24/Cargo.lock

/day25/target
/day25/Cargo.lock

/day26/target
/day26/Cargo.lock

/day27/target
/day27/Cargo.lock

/day28/target
/day28/Cargo.lock

/day29/target
/day29/Cargo.lock

/day30/target
/day30/Cargo.lock
